* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  caret-color: transparent;
}

.teamGrid:hover > * {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.teamGrid:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
  transition: opacity 0.3s ease-out;
  transition: transform 0.2s;
}

.gradientBox {
  border-image-slice: 1;
  border-width: 0.25rem;
  border-image-source: linear-gradient(
    90deg,
    rgba(220, 20, 60, 1) 40%,
    rgba(0, 0, 0, 1) 100%
  );
}
